.todo {
    max-width: 600px;
    margin: 60px auto;
    font-family: 'Roboto', sans-serif;
}

.todo-container {
    border: 1px solid silver;
    border-radius: 6px;
    padding: 20px;
    -moz-box-shadow: 1px 1px 3px 3px #ccc;
    -webkit-box-shadow: 0px 0px 0px 0px #ccc;
    box-shadow: 3px 3px 6px 0px #ccc;
}

.item-input {
    width: 90%;
    height: 30px;
    font-size: 18px;
    padding: 0 10px;
    border: 1px solid #aaa;
}

.add-button {
    width: 10%;
    height: 30px;
    float: right;
    border-style: none;
    background-color: white;
    border: 1px solid #aaa;
    border-left: none;
}

.item-list {
    margin: 20px 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.item {
    height: 40px;
    display: flex;
    padding: 0 10px;
    align-items: center;
}

.item:nth-child(odd) {
    background-color: rgb(245, 245, 250);
}

.item .state-button {
    margin-right: 20px;
}

.item .label {
    flex: 1;
}

.item .delete-button {
    cursor: pointer;
}

.item.done .label {
    color: silver;
    text-decoration: line-through;
}
